@import "tailwindcss";

/* Base defaults aligned with original HTML */
html { scroll-behavior: smooth; }

/* Selection styling */
::selection {
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
}



/*tema escuro*/
:root{
  --theme: #fff;
  --surface: #0f1724;
  --primary: #60a5fa;
  --text: #000;
  --text2: #232323;
  --muted: #9aa4b2;
}



/*tema claro*/
html.dark{
  --theme: #000;       /* fundo claro */
  --surface: #f8fafc;
  --primary: #0b7285;
  --text: #fff;
  --text2: #B3B3B3;     /* texto escuro */
  --muted: #6b7280;
}
/* Alvo o contêiner da paginação */
.swiper-pagination {
  bottom: -10px !important;
}

/* Bolinhas padrão */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 0, 0.5) !important;
  opacity: 1;
  margin: 0 4px;
  transition: transform 0.3s, background-color 0.3s;
  border-radius: 999px !important;
}

/* Bolinha ativa */
.swiper-pagination-bullet-active {
  background-color: #FFD700 !important;
  width: 30px !important;
}


